doctype html
html(lang='en')
  head
    title MOTOSPOT
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(type="text/javascript" src="../../javaScript/template.js" rel="preload")
    script(src="https://kit.fontawesome.com/96ca9480c7.js" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel="shortcut icon" href="#")

  body
    block navbar
      nav(class="fixed-navbar")
        input(type="checkbox" id="check")
        label(for="check" class="checkbtn")
          i(class="fa-solid fa-bars")
        label(class="logo") Motospot
        ul(class="navlist")
          li(class="navitem")
            a(href='/catalog' class="navanchor") Home
          li(class="navitem")
            a(href='/catalog/brands' class="navanchor") All brands
          li(class="navitem")
            a(href='/catalog/models' class="navanchor") All models
          li(class="navitem")
            a(href='/catalog/biketypes' class="navanchor") All biketypes
          li(class="navitem")
            a(href='/catalog/brand/create' class="navanchor") Create new brand
          li(class="navitem")
            a(href='/catalog/model/create' class="navanchor") Create new model
          li(class="navitem")
            a(href='/catalog/biketype/create' class="navanchor") Create new biketype

    block content

    block footer
      footer
        div(class="footer-content")
          h3 Motospot
          p Volg ons alvast op social media. Momenteel worden deze nog niet actief gebruikt maar misschien in de toekomst.

          ul(class="socials")
            li
              a(class="socialLink" href="#")
                i(class="fa fa-facebook socialIcon")
              a(class="socialLink"  href="#")
                i(class="fa fa-twitter socialIcon")
              a(class="socialLink"  href="#")
                i(class="fa fa-google-plus socialIcon")
              a(class="socialLink"  href="#")
                i(class="fa fa-youtube socialIcon")
              a(class="socialLink"  href="#")
                i(class="fa fa-linkedin-square socialIcon")

        div(class="footer-bottom")
          p copyright &copy;2022 Motospot. designed by #[span Jelle Basic and Phillip Pinter]




    //div
    //  div
    //    audio(id="audio" src='../../audio/motorSound.wav')
    //    a(href="#" id='play' class='logo')
    //      img(class='logo' src='../../images/logo-light.png' onclick="playAudio('../../audio/motorSound.wav')")






