extends layout

block content
  div
    h1(class='homeTitle') MOTOSPOT

    div
      ul
        each model in model_list
          li
            a(href=model.url) #{model.model_name}
            |  (#{model.brand.name})

        else
          li There are no models.
